﻿        
		@commonPadding: 5px;
		@commonHeight:450px;
		
		
		.block(@height, @width, @bgcolor){
			height:@height;
			width:@width;
			background-color:@bgcolor;
			}
		
		
		
		
		#wrapper {
            width:800px;
            margin: 0 auto;
        }
        #header {
			#logo {
            float: left;
            padding: @commonPadding 0 0 @commonPadding;
			}
			#text {
            float: right;
            color: white;
            line-height:90px;
            vertical-align:middle;
            padding-right:@commonPadding;

			}
			.block(90px,800px,blue);
           
            margin-bottom: 15px;
        }
        #lside {
			.block(500px,200px,green);
            
            float:left;
            padding:@commonPadding + 5;
			word-wrap:break-word;
			word-break:normal;
        }
        #rside {
           
		   .block(@commonHeight,150px,orange);
            
            float:right;
            background:url(mac.png) repeat;
        }
        #content {
            height:@commonHeight;
			span {
			text-transform: uppercase;
			}
			ul {
            margin-top:30px;
			}
			width: 370px;
            margin-left: 250px;
            border:1px solid;
            background-color:gray;
        }
        .clear {
            clear: both;
        }
        #footer {
			.block(120px, 800ox,pink);
            
            
            margin-top:15px;
			#ftext {
            line-height: 120px;
            vertical-align: middle;
            text-align: center;
			}
        }
       
        
        
    

        

